html {
  font-size: 62.5%;
}

*, *::before, *, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: '-apple-system';
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0 100px;
  margin: 0;
}

body .header {
  position: fixed;
  top: 0;
  left: 100px;
  width: 317.0463px;
  height: 970px;
  background-color: #3c3c3c;
  color: #fff;
  -webkit-box-shadow: inset 0 0 10px 7px #4d4d4d;
          box-shadow: inset 0 0 10px 7px #4d4d4d;
  z-index: 100;
}

@media (max-width: 1040px) {
  body .header {
    left: 0;
    width: 100%;
    height: 300px;
  }
}

body .header .heading {
  font-size: 44.90741px;
  position: absolute;
  top: 61.07407px;
  left: 68.25926px;
  width: 171.5463px;
  height: 120.35185px;
  text-align: left;
  letter-spacing: 8.98148px;
  color: #F0F0F0;
  opacity: 1;
}

@media (max-width: 1040px) {
  body .header .heading {
    white-space: nowrap;
    left: 7%;
  }
}

body .header .Policy {
  font-size: 26.94444px;
  position: absolute;
  top: 374.52778px;
  left: 93.40741px;
  width: 127.53704px;
  height: 45.80556px;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2.96389px;
  color: #f0f0f0;
  opacity: 1;
  z-index: 20;
  -webkit-box-shadow: inset 0 0 10px 7px #2c2c2c;
          box-shadow: inset 0 0 10px 7px #2c2c2c;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

body .header .Policy:hover {
  background-color: rgba(240, 120, 120, 0.8);
  z-index: 10;
  color: white;
  -webkit-box-shadow: inset 0 0 10px 7px #f08787;
          box-shadow: inset 0 0 10px 7px #f08787;
}

@media (max-width: 1040px) {
  body .header .Policy {
    top: 224.53704px;
    left: 15%;
  }
}

body .header .Works {
  font-size: 26.94444px;
  position: absolute;
  top: 505.65741px;
  left: 93.40741px;
  width: 127.53704px;
  height: 45.80556px;
  border-radius: 40px;
  text-align: center;
  letter-spacing: 2.96389px;
  color: #F0F0F0;
  opacity: 1;
  -webkit-box-shadow: inset 0 0 10px 7px #2c2c2c;
          box-shadow: inset 0 0 10px 7px #2c2c2c;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

body .header .Works:hover {
  background-color: rgba(240, 120, 120, 0.8);
  z-index: 10;
  -webkit-box-shadow: inset 0 0 10px 7px #f08787;
          box-shadow: inset 0 0 10px 7px #f08787;
}

@media (max-width: 1040px) {
  body .header .Works {
    right: 15%;
    top: 224.53704px;
    left: auto;
  }
}

body .header .active {
  background-color: rgba(240, 120, 120, 0.8);
  z-index: 10;
  -webkit-box-shadow: inset 0 0 10px 7px #f08787;
          box-shadow: inset 0 0 10px 7px #f08787;
}

body .header .lead {
  font-size: 17.96296px;
  position: absolute;
  top: 695.16667px;
  left: 101.49074px;
  text-align: center;
  letter-spacing: 1.7963px;
  color: #969696;
  opacity: 1;
}

@media (max-width: 1040px) {
  body .header .lead {
    top: 17.96296px;
    right: 5%;
    left: auto;
    font-size: 13.47222px;
  }
}

body .header .foot .twi {
  position: absolute;
  top: 765.22222px;
  left: 140.11111px;
  width: 42px;
  height: 35px;
  background: transparent url("../img/Twitter_Logo_WhiteOnImage.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

body .header .foot .twi p {
  display: none;
}

@media (max-width: 1040px) {
  body .header .foot .twi {
    top: 62.87037px;
    right: 7%;
    left: auto;
  }
}

body .header .foot .cocoda {
  position: absolute;
  font-size: 26.94444px;
  top: 793.96296px;
  left: 98.7963px;
  text-align: left;
  letter-spacing: 2.69444px;
  color: #F0F0F0;
  opacity: 1;
}

@media (max-width: 1040px) {
  body .header .foot .cocoda {
    top: 98.7963px;
    right: 5%;
    left: auto;
    font-size: 17.96296px;
  }
}

body .header .foot .redesign {
  position: absolute;
  font-size: 17.96296px;
  top: 865.81481px;
  left: 48.5px;
  text-align: center;
  letter-spacing: 1.7963px;
  color: #F0F0F0;
  opacity: 1;
}

@media (max-width: 1040px) {
  body .header .foot .redesign {
    top: 161.66667px;
    right: 5%;
    left: auto;
    font-size: 8.98148px;
  }
}

@media (max-width: 1040px) {
  body .header {
    left: 0;
  }
}

body .main {
  padding-left: 317.0463px;
}

@media (max-width: 1040px) {
  body .main {
    padding-left: 0;
    margin-top: 300px;
  }
}

body .main .container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .container-box .container {
  opacity: 1;
  position: relative;
  width: 100%;
}

body .main .container-box .container:hover .hover-bg {
  opacity: 10;
  background: rgba(0, 0, 0, 0.5) 0% 0% no-repeat padding-box;
}

body .main .container-box .container .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main .container-box .container .grd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent linear-gradient(61deg, #A34014 0%, #330C8D 100%) 0% 0% no-repeat padding-box;
}

body .main .container-box .container .hover-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #f0f0f0;
  text-align: center;
  letter-spacing: 3.59259px;
  color: #F0F0F0;
  opacity: -1;
  font-size: 35.92593px;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  cursor: pointer;
  display: table;
}

body .main .container-box .container .hover-bg p {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 1040px) {
  body .main .container-box .container .hover-bg {
    font-size: 25.14815px;
  }
}

body .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 968.2037px;
  background: #EBE4DF 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .policy .head-box {
  text-align: center;
}

body .policy .head-box .heading {
  display: inline-block;
  width: 100%;
  font-size: 62.87037px;
  letter-spacing: 18.86111px;
  color: #3C3C3C;
  opacity: 1;
}

@media (max-width: 1400px) {
  body .policy .head-box .heading {
    font-size: 32.33333px;
    letter-spacing: 12.57407px;
  }
}

@media (max-width: 1040px) {
  body .policy .head-box .heading {
    margin-top: 280px;
    font-size: 28.74074px;
    letter-spacing: 11.67593px;
  }
}

body .policy .head-box .heading .ui {
  font-size: 68.25926px;
}

@media (max-width: 1400px) {
  body .policy .head-box .heading .ui {
    font-size: 37.72222px;
  }
}

@media (max-width: 1040px) {
  body .policy .head-box .heading .ui {
    font-size: 35.92593px;
  }
}

body .policy .head-box .sub-head {
  display: inline-block;
  width: 60%;
  font-size: 26.94444px;
  letter-spacing: 2.69444px;
  color: #3C3C3C;
  opacity: 1;
}

@media (max-width: 1400px) {
  body .policy .head-box .sub-head {
    font-size: 16.16667px;
    letter-spacing: 1.7963px;
  }
}

@media (max-width: 1040px) {
  body .policy .head-box .sub-head {
    width: 72%;
    margin-bottom: 280px;
    font-size: 12.57407px;
    letter-spacing: 0.89815px;
    line-height: 2;
  }
}

@media (max-width: 1040px) {
  body .policy {
    height: auto;
  }
}

body .works {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #EBE4DF 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}

@media (max-width: 1040px) {
  body .works .head-nav {
    padding-bottom: 40px;
    border-bottom: 3px solid #3c3c3c;
  }
  body .works .head-nav::before {
    content: 'Design-List';
    display: block;
    font-size: 24px;
    color: #3c3c3c;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

body .works .head-nav .nav-list {
  margin-top: 34.12963px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F0F0F0;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1720px) {
  body .works .head-nav .nav-list {
    display: block;
  }
}

@media (max-width: 1040px) {
  body .works .head-nav .nav-list {
    display: -ms-grid;
    display: grid;
    margin-top: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 8%;
    margin: auto 1%;
  }
}

body .works .head-nav .nav-list .nav-item a {
  display: block;
  font-size: 25.14815px;
  background-color: #3c3c3c;
  padding: 12.57407px 41.31481px;
  border-radius: 63.76852px;
  text-align: center;
  letter-spacing: 2.96389px;
  opacity: 0.7;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .works .head-nav .nav-list .nav-item a:hover {
  -webkit-box-shadow: inset 0 0 10px 7px #5f5f5f;
          box-shadow: inset 0 0 10px 7px #5f5f5f;
  opacity: 1;
}

@media (max-width: 1720px) {
  body .works .head-nav .nav-list .nav-item a {
    margin: 1% 5%;
  }
}

@media (max-width: 1040px) {
  body .works .head-nav .nav-list .nav-item a {
    font-size: 17.96296px;
    letter-spacing: 1.7963px;
    padding: 8.98148px 26.94444px;
    margin: 0;
  }
}

body .works .head-nav .nav-list .active a {
  opacity: 1;
}

body .works .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .works .heading .title {
  font-size: 62.87037px;
  color: #3c3c3c;
  opacity: 1;
  letter-spacing: 18.86111px;
  margin-top: 169.75px;
}

@media (max-width: 1400px) {
  body .works .heading .title {
    font-size: 37.72222px;
    letter-spacing: 8.98148px;
  }
}

@media (max-width: 1040px) {
  body .works .heading .title {
    font-size: 35.92593px;
    letter-spacing: 7.18519px;
    margin-top: 35.92593px;
  }
}

body .works .heading .sub-title {
  display: inline-block;
  font-size: 35.92593px;
  color: #969696;
  opacity: 1;
  letter-spacing: 7.18519px;
  margin-bottom: 304.47222px;
}

@media (max-width: 1400px) {
  body .works .heading .sub-title {
    font-size: 30.53704px;
    letter-spacing: 6.28704px;
  }
}

@media (max-width: 1040px) {
  body .works .heading .sub-title {
    font-size: 26.94444px;
    letter-spacing: 5.38889px;
    margin-bottom: 134.72222px;
  }
}

body .works .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 99.69444px;
  height: 791.26852px;
}

@media (max-width: 1400px) {
  body .works .section {
    padding: 0;
    margin: auto 5%;
  }
}

body .works .section:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .works .section:nth-child(even) .texts {
  margin-left: 69.15741px;
}

@media (max-width: 1400px) {
  body .works .section:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .works .section:nth-child(even) .texts {
    margin-left: 0;
  }
}

body .works .section:nth-child(odd) .image {
  margin-left: 69.15741px;
}

@media (max-width: 1400px) {
  body .works .section:nth-child(odd) .image {
    margin-left: 0;
  }
}

body .works .section .texts {
  width: 44.90741%;
  font-size: 26.94444px;
  text-align: left;
  letter-spacing: 2.69444px;
  color: #505050;
  opacity: 1;
}

body .works .section .image {
  width: 44.90741%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .works .section .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1400px) {
  body .works .section {
    display: block;
    height: auto;
  }
  body .works .section .texts {
    display: inline-block;
    width: 80%;
    font-size: 19.75926px;
    text-align: center;
    letter-spacing: 1.7963px;
    margin-bottom: 20px;
  }
  body .works .section .image {
    width: 90%;
    margin-bottom: 180px;
  }
  body .works .section .image:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 1040px) {
  body .works .section .texts {
    font-size: 17.96296px;
  }
}

body .works .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 99.69444px;
  height: 791.26852px;
}

body .works .download .title {
  display: block;
  font-size: 35.92593px;
  letter-spacing: 3.59259px;
  color: #505050;
  opacity: 1;
}

body .works .download .dl-container {
  margin-top: 60.17593px;
}

body .works .download .dl-container .dl-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .works .download .dl-container .dl-list .dl-item a {
  display: inline-block;
  font-size: 35.92593px;
  letter-spacing: 3.59259px;
  color: #EBE4DF;
  background-color: #3c3c3c;
  border-radius: 73.64815px;
  padding: 26.94444px 86.22222px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .works .download .dl-container .dl-list .dl-item a:hover {
  background-color: rgba(240, 120, 120, 0.8);
}

body .works .download .dl-container .dl-list .dl-item + .dl-item {
  margin-left: 37.72222px;
}

body .works .download .attention {
  margin-top: 97.89815px;
  font-size: 22.4537px;
  letter-spacing: 2.24537px;
  color: #505050;
}

@media (max-width: 1400px) {
  body .works .download {
    height: auto;
    padding: 0;
    display: block;
  }
  body .works .download .title {
    margin-top: 50px;
  }
  body .works .download .dl-container .dl-list {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .works .download .dl-container .dl-list .dl-item a {
    display: block;
    font-size: 21.55556px;
    letter-spacing: 2.69444px;
    border-radius: 68.25926px;
    text-align: center;
    padding: 12px 120px;
    margin-bottom: 30px;
  }
  body .works .download .dl-container .dl-list .dl-item a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  body .works .download .dl-container .dl-list .dl-item + .dl-item {
    margin-left: 0;
  }
  body .works .download .attention {
    font-size: 16.16667px;
    letter-spacing: 1.7963px;
  }
}

@media (max-width: 1040px) {
  body {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */